@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-primary: var(--primary-color);
  --color-primary-dark: var(--primary-color-dark);
  --color-primary-light: var(--primary-color-light);
}

:root {
  --primary-color: #2563eb;
  --primary-color-dark: #1d4ed8;
  --primary-color-light: #eff6ff;
}

/* Custom background for body based on density */
.density-compact * {
  padding-top: max(0px, calc(var(--spacing) * 0.75));
  padding-bottom: max(0px, calc(var(--spacing) * 0.75));
}
